body
{
	background-color: black;
}

.navbar-items
{	
	color: white;
	
}
#Home  
{	
	font-family: 'Kaushan Script', cursive !important;
	font-size: 40px;
}
#navbar 
{
	background-color: black;
	font-family: 'Kaushan Script', cursive !important;
	border-bottom: 3px solid white;

}
#newpost
{
	padding-right: : -0.25rem !important;
	font-size: 40px;
}
#login
{
	background-color: black;
	color: white;
	border-bottom: 3px solid white;
}
#post-entry
{
	color: white !important;
	font-family: 'Noto Serif', serif;
	font-family: 'Permanent Marker', cursive;
}
#post-detail
{
	color: white !important;
}